<div class="container mt-4">
  <div class="list-group">
    <div class="list-group-item list-group-item-dark">
      <div class="row text-center fw-bold">
        <div class="col-1">ID</div>
        <div class="col-3">Nome</div>
        <div class="col-3">Endereço</div>
        <div class="col-2">Contatos</div>
        <div class="col-1">Editar</div>
        <div class="col-1">Excluir</div>
      </div>
    </div>


    <div *ngFor="let pessoa of pessoas; let i = index" class="list-group-item" style="border-bottom: 1px solid #ddd">
      <div class="row align-items-center text-center">
        <div class="col-1">{{ pessoa.id }}</div>
        <div class="col-3">{{ pessoa.name }}</div>
        <div class="col-3">{{ pessoa.enderecoCompleto }}</div>
        <div class="col-2">
          <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/listaContatos']" routerLinkActive="router-link-active">Contatos</button>
        </div>
         <div class="col-1 d-flex justify-content-center" >
          <button type="button" class="btn btn-warning btn-sm" [routerLink]="['/editar-pessoa', pessoa.id]" routerLinkActive="router-link-active">
            Editar
          </button>
        </div>
        <div class="col-1 d-flex justify-content-center">
          <button *ngIf="pessoa.id !== null" (click)="delete(pessoa.id!)" type="button" class="btn btn-danger btn-sm">
            Excluir
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
